:root {
    --primary-color: #FEFF0D;
    --secondary-color: #FFCC00;
    --tertiary-color: #E8A60C;
    --quaternary-color: #FF9E0D;
    --light-color: #f2f2f2;
    --medium-color: #585858;
    --dark-color: #080808;
}

.bg-custom {
    background: var(--primary-color);
    background: linear-gradient(90deg, var(--quaternary-color) 0%, var(--tertiary-color) 27%, var(--primary-color) 56%, var(--secondary-color) 81%, var(--quaternary-color) 100%);
}

.navbar-brand,
.nav-link {
    color: white;
}
.carousel-item{
    width: 500px;
    height: 300px;
}